@charset "UTF-8";
* {
	background-color: #f2f2f2;
}

p {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.regBtn {
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: #7b7b7b;
    background: #fff;
    border: #555 solid 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    display: block;
}

.regBtn:hover {
	color: #fff;
	background: #7b7b7b;
}

a {
	color: #fff;
	background: inherit;
	display: block;
	text-decoration: none;
	font-size: 15px;
}

.list {
	width: 355px;
    float: left;
    position: relative;
    left: 50%;
}

.checkbox {
	margin-left: 0px;
	cursor: pointer;
}

.btn {
    margin-right: 5px;
    font-size: 12px;
    color: #c00; 
    background-color: #fff;
    border: #c00 solid 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}

.btn:hover {
	background-color: #c00;
  	color: #fff;
}

.main {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	float: right;
	position: relative;
	left: -50%;
}

.list_title {
	height: 65px;
	padding: 0px 0px 0px 20px;
	background: #c00;
	color: #fff;
	font-size: 23px;
	font-weight: bold;
	line-height: 65px;
	width: 302px;
	margin: 15px;
}

.list_content {
	background-color: #fff;
	margin: 15px;
	border: solid 1px #6d6d6d;
	width: 300px;
	height: 80px;
	padding: 10px;
}

.content_main {
	font-size: 18px;
	font-weight: bold;
	background: inherit;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.content_content {
	margin: 4px 0 0 0;
	font-size: 14px;
	background: inherit;
	color: #2b2b2b;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.content_sub {
	font-size: 12px;
	background: inherit;
	color: #2b2b2b;
}
.deadline {
	background: #fff;
	display: none;
}

.notice {
	margin-right: 5px;
    text-align: center;
    display: none;
    float: right;
    background: #555;
    color: #fff;
    width: 30px;
}